html{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    

}
body{
    background-color:   #29313a;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
section{
    margin:0 auto;
    max-width: 1920px;}


#navigation-bar{
    display: flex;
    align-items: center;
    background-color: aqua;
    position:fixed;
    width: 100%;
    top: 0%;
}
#navigation-bar h1{
    flex: 1;
    margin-left:4rem ;
    
}
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    right: -20%;
    opacity: 0;
    visibility: hidden;
    background-color: aqua;
    height: 100%;
    
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out, visibility 0s linear 0.5s;
  }
  
  .menu.show {
    right: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

.Nav-Link{
    width: 100%;
    padding: 1rem;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    
}
.Nav-Link:hover{
    background-color: #000;
    color: #eee;
    

    
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    margin-right: 1rem;
    
  }
  
  
  .hamburger.open:before {
    content: '\f00d'; 
  }
  
  .hamburger.close:before {
    content: '\f0c9'; 
  }
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  p{
    color: white;
    padding: 1rem .2rem;
}
  h2 {
    font-family: Arial, Gadget, sans-serif;
    font-weight: 800;
    font-style: italic;
    color: rgb(199,185,172);
    font-size: 2rem;
    padding-bottom: 1rem;
}
  #Productos h2 {
    font-style: normal;
    padding: 0;
    margin: 4rem auto 0 auto; 
    width: 98%;
    text-align: center;
    font-size: 3rem;
    background-color: white;
    color:  #698593;
    font-family:Impact, Charcoal, sans-serif ;
    font-weight: 1000;
  }

  #Aspiradoras h2 {
    color: #e6cbbf;
  }
  #Aspiradoras img {
    border: .3rem solid #e6cbbf;
  }
  #Celulares h2 {
    color: #9dbec6;
  }
  #Celulares img {
    border: .3rem solid #9dbec6;
  }
  #Consolas h2 {
    color: #b5b5b4;
  }
  #Consolas img {
    border: .3rem solid #b5b5b4;
  }  
  #Home-Theater h2 {
    color: #88909f;
  }
  #Home-Theater img {
    border: .3rem solid #88909f;
  }  
  #Televicion h2 {
    color:  #aaaba2;
  }
  #Televicion img {
    border: .3rem solid #aaaba2;
  }
  footer{
    border-top: solid .3rem #e6cbbf;
    color: #fff;
    display: block;
    
  }
  

  @media screen and (min-width: 650px){
    img{
        margin-left: 2rem;
      }
  }
  @media screen and (min-width: 850px) {
    #navigation-bar h1{
        flex: 1;
        margin: 0;
        
        
    }
    #navigation-bar menu{
        visibility: visible;
        opacity: 1;
        flex-direction: row;
        position: initial;
        gap: 0;
        
    }

    .Nav-Link{
        
        font-size: .8rem;
        padding: 1.1rem;
        
    }

    .hamburger {
        display: none!important; /*Me gustaría saber por qué, si no uso 'important', se salta el 'display: none' hasta que se guarde de nuevo el CSS.*/
      }
      footer p {float: right;}
  }

  @media screen and (min-width: 1000px) {

    #navigation-bar h1{
        margin-left:4rem ;
        
    }
   
    .Nav-Link{
        font-size: 1rem;
        padding: 1rem;
        
    }
   
  }
  